<h1>Listing products</h1>

<table>
  <tr>
    <% form_tag(search_url()) do %>
    <td>
      
        <input type="text" id="search" name="search" value=""></input>
    </td>
    <td>
      <input type="submit" value="Search"></input>
    </td>
    <% end %>
  </tr>

</table>